#tic-tac-toe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 5px;
  }
  
  .square {
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .square-X {
    color: #f86b6b;
  }
  
  .square-O {
    color: #5656fa;
  }
  
  #game-status-container {
    margin-top: 20px;
    text-align: center;
  }
  
  #game-status-message {
    font-size: 18px;
  }
  